*{
    margin: 0;
    padding: 0px;
    /* overflow-y: hidden; */
}
body{
    background-color: #1c1c1e;
  color: #f2f2f2;
}
.header{
   
   padding: 15px 5px;
   display: flex;
   flex-direction: row;
   position: sticky;
   top: 0%;
   background-color: #1c1c1e;
   z-index: 1;
}
div .headerlist{

     position: relative;
     display: flex;
    flex-direction: row;
    left: 0px;
     
}
#homeicon ,#secondIcon{
    display: none;
}
.headerlist ul{
    
    display: flex;
    column-gap: 15px;
    list-style: none;
    
} 
a{
    list-style: none;
    text-decoration: none;
    color: #f2f2f2;
}
a:hover{
    color: #ffa500;
}
.header .nighticon{
    position: absolute;
    right: 15px;
}
.headertext{
    font-family: cursive;
    
    
}
hr{
    color: wheat;
}
h1{
   
    text-align: center;
}
.addlist{
   
    height: 100%;
    padding: 5px;
    text-align: center;
}

form {
    margin-top: 20px;
  }
.input{
    margin: 5px;
    padding: 5px;
}
.form{
    /* border: 3px solid red ; */
    display: inline-block;
    position: relative;
    text-align: left;
}
.form input{
    background-color: #444;
    color: white;
}
textarea{
    background-color: #444;
    color: white;
}
.btn{
    /* border: 2px solid; */
    padding: 5px;
    margin-left: 5px;
    display: flex;
  flex-direction: row;
  align-items: center;
}
button{
    display: block;
  margin: 0px 30px;
    cursor: pointer;
    background-color:#ffa500;
    padding: 5px;
    border-radius: 5px;
    
}
button:hover{
    background-color: aliceblue;
}
th{
    border: 3px solid black;
    margin-right: 5px;
    padding: 5px;
    table-layout: auto;
}
#title{
    
    width: 52ch;
}
footer{
    
    border: 1px solid grey;
    height: 50%;
    text-align: center;
    
}
.footer{
    position: relative;
    top: 50%;
}
i{
    color: red;
    position: relative;
    top: 50%;
    
}


/* RESPONSIVE DESIGN */
@media only screen and (max-width:600px) {
    
    #sidemenu{
        border-radius: 5px;
        background: #1c1c1e;
        position: fixed;
        top: 0;
        right: -200px;
        height: 100vh;
        width: 150px;
        padding-top: 50px;
        z-index: 2;transition:left 0.5s;
        display: flex;
        flex-direction: column;
        column-gap:5% ;
    }
    #homeicon ,#secondIcon{
        display: block;
        color: aliceblue;
    }
    ul i{
        position: absolute;
        top: 15px;
        right: 10px;
        cursor: pointer;
    }
    i{
        cursor: pointer;
    }
    #sidemenu li{
        margin-top: 8px;
        margin-left: 50%;
    }
}

